CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
lib
bin
.cache
trip_service_test
trip_service_run
libtrip_service_lib.a

coverage
lcov_base.info
lcov.info